<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome To My Dynamic Chat App</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="./css/custom.css" rel="stylesheet" type="text/css" />
    <%- locals.head ? head : '' %>
</head>

<body>
    <% if(locals.auth) {%>
        <% if(auth) {%>
            <%- include('../partials/navbar.ejs', {page: page, auth: auth, logout: logout}); %>
        <% } else {%>
            <%- include('../partials/navbar.ejs', {page: page, auth: auth}); %>
        <% }%>
    <% } else {%>
        <%- include('../partials/navbar.ejs', {page: '', auth: ''}); %>
    <% }%>
    <%- body %>
    <script src="./js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script type="module" src="./js/axios.min.js"></script>
    <script src="./js/jquery/jquery.min.js"></script>
    <%- locals.script ? script : '' %>
</body>

</html>